# Add any directories, files, or patterns you don't want to be tracked by version control
*.dat
*.pyc
*.mat
*.png
*.mat
*.C0190
dataSet/
other_packages/
.idea/
logs*/
*.michael-XPS-15-9550
*.csv
*.pickle
